<style type="text/css">

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

</style>

<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#academy" data-toggle="tab">BMX Academy</a></li>
    <li><a href="#skatepark" data-toggle="tab">Skatepark</a></li>
    <li><a href="#ubytovani" data-toggle="tab">Ubytování</a></li>
    <li><a href="#stravovani" data-toggle="tab">Stravování</a></li>
    <li><a href="#cena" data-toggle="tab">Cena campu</a></li>
    <li><a href="#prijezd" data-toggle="tab">Příjezd - odjezd</a></li>
    <li><a href="#doprava" data-toggle="tab">Doprava</a></li>
    <li><a href="#program" data-toggle="tab">Rámcový program</a></li>
    <li><a href="#instruktori" data-toggle="tab">Instruktoři</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="academy">
        {% include "bmxacademy/about/bmx_academy.html" %}
    </div>
    <div class="tab-pane" id="skatepark">
        {% include "bmxacademy/about/skatepark.html" %}
    </div>
    <div class="tab-pane" id="ubytovani">
        {% include "bmxacademy/about/ubytovani.html" %}
    </div>
    <div class="tab-pane" id="stravovani">
        {% include "bmxacademy/about/stravovani.html" %}
    </div>
    <div class="tab-pane" id="cena">
        {% include "bmxacademy/about/cena.html" %}
    </div>
    <div class="tab-pane" id="prijezd">
        {% include "bmxacademy/about/prijezd.html" %}
    </div>
    <div class="tab-pane" id="doprava">
        {% include "bmxacademy/about/doprava.html" %}
    </div>
    <div class="tab-pane" id="program">
        {% include "bmxacademy/about/program.html" %}
    </div>
    <div class="tab-pane" id="instruktori">
        {% include "bmxacademy/about/instruktori.html" %}
    </div>
        <div class="beran">
            <img src="/static/static/bmxacademy/images/mberan.jpg" alt="Michael Beran" class="beran_foto">
                <p><strong>Michael Beran</strong>
                <br>doporučuje BMX Academy</p>
         </div><!-- beran -->

</div>