   
   <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#academy">BMX Academy</a></li>
    <li><a href="#skatepark">Skatepark</a></li>
    <li><a href="#ubytovani">Ubytování</a></li>
    <li><a href="#stravovani">Stravování</a></li>
    <li><a href="#cena">Cena campu</a></li>
    <li><a href="#prijezd">Příjezd - odjezd</a></li>
    <li><a href="#doprava">Doprava</a></li>
    <li><a href="#program">Rámcový program</a></li>
    <li><a href="#instruktori">Instruktoři</a></li>
    </ul>
     
    <div class="tab-content">
    <div class="tab-pane active" id="academy">
    
     <ul class="odrazky">
      <h2>BMX Academy</h2>
       
      <li><strong>BMX Academy</strong> - 2. ročník největší letní školy BMX v Čechách a na Slovensku pro
      začátečníky, středně i více pokročilé jezdce BMX bez omezení věku a pohlaví.</li>
      <li><strong>BMX Academy</strong> podporuje sportovní růst a nadšení příznivců BMX, rozvíjí sportovní
      výkonnost jezdců a propaguje Fair Play sportovní chování. </li>
      <li><strong>BMX Academy</strong> - vyučují naši nejzkušenější přední jezdci s letitou zkušeností a
      mnoha úspěchy na domácí i zahraniční scéně BMX. </li>
      <li><strong>BMX Academy</strong> - připravila pro všechny své jezdce značkovou kšiltovku a triko Fallen
      v hodnotě 1.500 CZK, značkové ceny do interních závodů BMX Academy Cap, foto
      a video reportáž z campu.</li>
      <li><strong>BMX Academy</strong> - je týden plný BMX, adrenalinu, sportu, dobré nálady a
      nezapomenutelných zážitků. </li>
    </ul>
    
    </div>
    <div class="tab-pane" id="skatepark">
    <h2>Skatepark BMX Academy 2013</h2>
    <p>Oficiálním parkem pro ročník 2013 se stal skatepark Chomutov, jeden z nejlepších skateparků
    v ČR, který je svou koncepcí vhodný jak pro začátečníky, tak pro pokročilé jezdce.
    Svou rozlohou 4.000 m se řadí mezi největší skatepark v ČR.
    Park disponuje kombinací dřevěných, betonových a plechových překážek.
    Celý oplocený areál zůstal v původním malebném dolíku obklopeném vzrostlým
    lesem a areál tak splňuje nejen sportovní, ale i rekreační účel.
    V parku se nachází množství překážek ve třech úrovních. Horní zastřešená a
    osvětlená část obsahuje dřevěný bazén - bowl obřích rozměrů (patří mezi největší
    v Evropě), v prostřední je betonový street a spodní část obsahuje klasické překážky.
    V parku je dále k dispozici klubovna a sociální zázemí.
    Mapa + adresa skateparku
    </p>
    </div>
    <div class="tab-pane" id="ubytovani">
    <h2>Ubytování:</h2>
    <p>Bude pro jezdce BMX Academy zajištěno na dvou a třílůžkových pokojích s vlastním
    sociálním zařízením Domova mládeže, Palackého 5 v klidné a bezpečné části města
    Chomutova, v dosahu autobusového a vlakového nádraží.
    Areál bude sloužit výhradně pro jezdce BMX Academy.
    Na využití volnočasových aktivit je v DM klubovna s TV, herna stolního
    tenisu, k využití je rovněž tělocvična a posilovna na sousední SZŠ Chomutov.
    Venkovní prostory nabízí prostorný dvůr s přenosným basketbalovým košem.
    mapa + adresa </p>
    </div>
    <div class="tab-pane" id="stravovani">
    <h2>Stravování:</h2>
    <p>Zajištěno formou plné penze, pitný režim v průběhu celého dne.</p>
     <ul class="odrazky">
    <li>8.45 - snídaně formou bufetu</li>
    <li>13.00 - oběd (polévka, hlavní jídlo)</li>
    <li>16.00 - svačina</li>
    <li>19.00 - večeře (hlavní jídlo, salát, nebo dezert)</li>
      </ul>
      <p>Stravování začíná v den příjezdu večeří a končí v den odjezdu snídaní. Uvedena
      doba stravování je pouze orientační. Změna stravování vyhrazena dle aktuálního
      programu. Některé ze stravování může být nahrazeno grilováním ve skateparku.</p>
    </div>
    <div class="tab-pane" id="cena">
    <h2>Cena campu:</h2>
      Za stejnou cenu jako loni bude camp o jeden den delší, nebo za super cenu 6 denní
      varianta campu.
      8 dní od soboty do soboty 10. - 17. srpna 2013: 6.900 CZK
      6 dní od pondělí do soboty 12. - 17. srpna 2013: 5.900 CZK
      Pokyny pro platbu rezervační zálohy a doplatku za camp Vám budou zaslány po
      úspěšné registraci.
    </div>
    <div class="tab-pane" id="prijezd"><h2>Příjezd - odjezd:</h2>
      Příjezd 8 denní varianta sobota dne 10. srpna 2013 v době od 14.00 do 16.00 hodin
      Příjezd 6 denní varianta pondělí dne 12. srpna 2013 v době od 14.00 do 16.00 hodin
      Odjezd 17. srpna 2013 v době od 11.00 do 13.00 hodin
      Příjezd a odjezd se koná ze skateparku Chomutov - Kamenný Vrch.
      Parkovat lze přímo u vchodu do skateparku.
      </div>
    
    <div class="tab-pane" id="doprava">
     <h2>Doprava:</h2>
      Možnost využití dopravy BMX Academy z Bratislavy, Brna, Jihlavy, Prahy a Plzně a
      do skateparku Chomutov a zpět.
      </div>
    <div class="tab-pane" id="program">
       <h2> Rámcový program: </h2>
        <ul class="odrazky polovina">
       <li>8.00 - budíček </li>
       <li>8.00 - 8.30 osobní hygiena</li>
       <li>8.45 - snídaně</li>
       <li>9.15 - transfer skatepark</li>
       <li>9.30 - společná rozcvička</li>
       <li>9.45 - dopolední skupinový program</li>
       <li>13.00 - oběd</li>
    
      <li> 13.30 - 14.15 osobní volno ve skateparku</li>
      <li> 14.15 - odpolední skupinový program</li>
         </ul>
        <ul class="odrazky polovina">
      <li> 16.00 - svačina</li>
      <li> 16.15 - společný program</li>
      <li> 18.00 - 19.00 volné ježdění ve skateparku</li>
     <li>  19.00 - večeře</li>
     <li>  19.30 – transver ubytování</li>
     <li>  20.15 - 21.30 večerní program</li>
     <li>  21.30 - 22.00 osobní hygiena</li>
      <li> 22.00 – večerka</li>
      </ul>
      </div>
    <div class="tab-pane" id="instruktori">
     <h2>Instruktoři BMX Academy 2013:</h2>
      <ul class="odrazky">
      <li>Tomáš Řanda</li>
      <li>Ondřej Hudec</li>
      <li>Tomáš Lízal</li>
      </ul>
    </div>
    </div><!-- tab-content -->
     
    <script>
    $(function () {
    $('#myTab a:last').tab('show');
    })
    </script>
      
   

    
 
 
 
 
  

