<ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#academy" data-toggle="tab">BMX Academy</a></li>
    <li><a href="#skatepark" data-toggle="tab">Skatepark</a></li>
    <li><a href="#ubytovani" data-toggle="tab">Ubytování</a></li>
    <li><a href="#stravovani" data-toggle="tab">Stravování</a></li>
    <li><a href="#cena" data-toggle="tab">Cena campu</a></li>
    <li><a href="#prijezd" data-toggle="tab">Příjezd - odjezd</a></li>
    <li><a href="#doprava" data-toggle="tab">Doprava</a></li>
    <li><a href="#program" data-toggle="tab">Rámcový program</a></li>
    <li><a href="#instruktori" data-toggle="tab">Instruktoři</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="academy">

        <ul class="odrazky">
            <h2>BMX Academy</h2>

            <li><strong>BMX Academy</strong> - 2. ročník největší letní školy BMX v Čechách a na Slovensku pro
                začátečníky, středně i více pokročilé jezdce BMX bez omezení věku a pohlaví.
            </li>
            <li><strong>BMX Academy</strong> podporuje sportovní růst a nadšení příznivců BMX, rozvíjí sportovní
                výkonnost jezdců a propaguje Fair Play sportovní chování.
            </li>
            <li><strong>BMX Academy</strong> - vyučují naši nejzkušenější přední jezdci s letitou zkušeností a
                mnoha úspěchy na domácí i zahraniční scéně BMX.
            </li>
            <li><strong>BMX Academy</strong> - připravila pro všechny své jezdce značkovou kšiltovku a triko
                Fallen
                v hodnotě 1.500 CZK, značkové ceny do interních závodů BMX Academy Cap, foto
                a video reportáž z campu.
            </li>
            <li><strong>BMX Academy</strong> - je týden plný BMX, adrenalinu, sportu, dobré nálady a
                nezapomenutelných zážitků.
            </li>
        </ul>

    </div>
</div>