


        <form class="form">
            <div class="polozky left">
                <p>*<input type="text" value="Jméno" class="pole"></p>

                <p>*<input type="text" value="E-mail" class="pole"></p>

                <p>&nbsp;&nbsp;<input type="text" value="Tel. číslo" class="pole"></p>

                <p>&nbsp;&nbsp;<input type="text" value="Předmět dotazu" class="pole"></p>

                <p>* povinný údaj</p>
            </div>
            <!-- lefter -->
            <div class="left">
                <p style="margin-left: 12px;">*</p><textarea class="textarea">Ahoj BMX Academy, </textarea>

                <p><input type="submit" value="Odeslat" class="tlacitko right"></p>
            </div>
            <!-- lefter -->
        </form>

        <div class="poradatel left">
            <h2>Pořadatel BMX Academy</h2>

            <p>Telefon: +420 608 844 878</p>

            <p>E-mail: info@bmxacademy.cz</p>

            <p>facebook: <a href="http://www.facebook.com/bmxacademy">BMX Academy</a></p>

            <p>YouTube: <a href="http://www.youtube.com/bmxacademyCZ">BMX Academy</a></p>
            <br>


        </div>
        <!-- lefter -->