<div id="fotogalerie">
            <a href="index.php"><img src="{{STATIC_URL}}bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="index.php"><img src="{{STATIC_URL}}bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="index.php"><img src="{{STATIC_URL}}bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="index.php"><img src="{{STATIC_URL}}bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="index.php"><img src="{{STATIC_URL}}bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="index.php"><img src="{{STATIC_URL}}bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="index.php"><img src="{{STATIC_URL}}bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="index.php"><img src="{{STATIC_URL}}bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="index.php"><img src="{{STATIC_URL}}bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="index.php"><img src="{{STATIC_URL}}bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="index.php"><img src="{{STATIC_URL}}bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="index.php"><img src="{{STATIC_URL}}bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
        </div>
        <!-- fotogalerie -->


        <div class="prepinani left"><span><a href="index.php">Předchozí</a></span><img
                src="{{STATIC_URL}}bmxacademy/images/mnu_pomlcka.jpg"
                alt="pomlcka"
                class="pomlcka_prepinani"><span><a
                    href="index.php">Další</a></span>
        </div>
        <!-- prepinani -->

        <div class="prepinani right"><span><a href="index.php">2012</a></span><img
                src="{{STATIC_URL}}bmxacademy/images/oddelovnik.png"
                alt="pomlcka"
                class="oddelovnik"><span
                class="active"><a href="index.php">2013</a></span>
        </div>
        <!-- prepinani -->