  <div id="fotogalerie">
            <a href="/"><img src="/static/static/bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="/"><img src="/static/static/bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="/"><img src="/static/static/bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="/"><img src="/static/static/bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="/"><img src="/static/static/bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="/"><img src="/static/static/bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="/"><img src="/static/static/bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="/"><img src="/static/static/bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="/"><img src="/static/static/bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="/"><img src="/static/static/bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="/"><img src="/static/static/bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="/"><img src="/static/static/bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>

            <div class="prepinani left"><span><a href="/">Předchozí</a></span><img src="/static/static/bmxacademy/images/mnu_pomlcka.jpg"
                                                                                           alt="pomlcka"
                                                                                           class="pomlcka_prepinani"><span><a
                        href="/">Další</a></span></div>
            <!-- prepinani -->

            <div class="prepinani right"><span><a href="/">2012</a></span><img src="/static/static/bmxacademy/images/oddelovnik.png"
                                                                                       alt="pomlcka"
                                                                                       class="oddelovnik"><span
                    class="active"><a href="/">2013</a></span></div>
            <!-- prepinani -->

        </div>
        <!-- fotogalerie -->