
<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <title>BMX Academy s Michalem Beranem, 2013</title>
    <link rel="icon" href="http://michaelsvarc.com/bmx/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/static/bmxacademy/css/screen.css" media="screen">
    <style type="text/css" media="handheld">

        * {
            margin:0 px;
            padding: 0 px;
        }

    </style>
        <style type="text/css">
        body
        {

            background: black url(http://webdev.fit.cvut.cz/~altmaon1/bmx/backgrounds/montage-1b.jpg) no-repeat fixed;
        }

        /*
        #background_wrap {
            z-index: -1;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-size: 100%;
            background-image: url("backgrounds/montage-0.jpg");
            background-attachment: fixed;
        }
        */
    </style>
</head>

<body>
<!-- BACKGROUND HACK
<div id="background_wrap"></div>
-->
<div class="wrapper">
    <div id="lista">
        <a href="http://www.youtube.com/bmxacademyCZ" class="icon_yt"></a>
        <a href="http://www.facebook.com/bmxacademy" class="icon_fcb"></a>
        <a href="/" class="icon_home"></a>
    </div>
    <!-- lista -->
</div>
<!-- wrapper -->

<div class="prostredek">

    <a href="#top" id="head"><span>BMX Academy s Michalem Beranem 11. - 18. SRPEN 2013</span></a>

</div>
<div class="page">
    <div class="wrapper" id="top">
        <div id="menu">
            <ul>
                <li><a href="#about">O Campu</a></li>
                <img src="/static/static/bmxacademy/images/mnu_pomlcka.jpg" alt="menu_pomlcka" class="pomlcka">
                <li><a href="#news">Novinky</a></li>
                <img src="/static/static/bmxacademy/images/mnu_pomlcka.jpg" alt="menu_pomlcka" class="pomlcka">
                <li><a href="#gallery">Fotogalerie</a></li>
                <img src="/static/static/bmxacademy/images/mnu_pomlcka.jpg" alt="menu_pomlcka" class="pomlcka">
                <li><a href="#video">Videogalerie</a></li>
                <img src="/static/static/bmxacademy/images/mnu_pomlcka.jpg" alt="menu_pomlcka" class="pomlcka">
                <li><a href="#partners">Partneři</a></li>
                <img src="/static/static/bmxacademy/images/mnu_pomlcka.jpg" alt="menu_pomlcka" class="pomlcka">
                <li><a href="#contact">Kontakt</a></li>
                <img src="/static/static/bmxacademy/images/mnu_pomlcka.jpg" alt="menu_pomlcka" class="pomlcka">
                <li><a href="#register">Registrace</a></li>
            </ul>
        </div>
        <!-- menu -->
        <h3>Skatepark Chomutov</h3>
        <h1> 11. - 17. SRPEN,2013</h1>
    </div>
    <!-- wrapper -->
</div>
<!-- page -->
<p class="kopy">Copyright © 2012-2013 – BMX Academy</p>
<div class="downer">
    <a href="#next" class="down"><span>down</span></a>
</div>
<div class="page_downer">
    <div class="wrapper" id="about">
        {% include "bmxacademy/about.html" %}
        <div class="cistic"></div>
    </div>
</div>
<div class="page_downer">
    <div class="wrapper" id="news">
        {% include "bmxacademy/news.html" %}
    </div>
</div>
<div class="page_downer">
    <div class="wrapper" id="gallery">
        {% include "bmxacademy/gallery.html" %}
    </div>
</div>
<div class="page_downer">
    <div class="wrapper" id="video">
        {% include "bmxacademy/video.html" %}
    </div>
</div>
<div class="page_downer">
    <div class="wrapper" id="partners">
        {% include "bmxacademy/partners.html" %}
    </div>
</div>
<div class="page_downer">
    <div class="wrapper" id="contact">
        {% include "bmxacademy/contact.html" %}
    </div>
</div>
<div class="page_downer">
    <div class="wrapper" id="register">
        {% include "bmxacademy/register.html" %}
    </div>
</div>
<!-- page -->
<div id="dummy"></div>

<script type="text/javascript" src="/static/static/bmxacademy/scripts/jquery.js"></script>
<script type="text/javascript" src="/static/static/bmxacademy/scripts/wheel.js"></script>
<script type="text/javascript" src="/static/static/bmxacademy/scripts/disable.js"></script>
<script type="text/javascript" src="/static/static/bmxacademy/scripts/bundle.js"></script>
<script type="text/javascript" src="/static/static/bmxacademy/scripts/scroller.js"></script>
<script type="text/javascript" src="/static/static/bmxacademy/scripts/other.js"></script>
<script type="text/javascript">
    $(document).ready(function () {


        var scroll = true;

        var callbackScroll = $.Callbacks();
        callbackScroll.add( scrollManip )

        function scrollManip() {
            scroll = false;
            setTimeout(function() {
                scroll = true;
            }, 800);
        }

        var scroller = new $.Scroller(
            [
                new $.Bundle("div#top","a[href='#top']"),
                new $.Bundle("div#about","a[href='#about']"),
                new $.Bundle("div#news","a[href='#news']"),
                new $.Bundle("div#gallery","a[href='#gallery']"),
                new $.Bundle("div#video","a[href='#video']"),
                new $.Bundle("div#partners","a[href='#partners']"),
                new $.Bundle("div#contact","a[href='#contact']"),
                new $.Bundle("div#register","a[href='#register']")
            ]
        );


        $("a[href='#next']").click(function (){
            scroller.Next();
            return false;
        });


        scroller.setUp();

        disable_scroll();

        $(document).mousewheel(function(event, delta) {
                if(delta == -1) if(scroll) {
                    callbackScroll.fire();
                    scroller.Next();
                }
                if(delta == 1) if(scroll) {
                    callbackScroll.fire();
                    scroller.Prev();
                }
        });


        $(document).keydown(function (event) {
            if (event.which == 40) {
                scroller.Next();
            }
            if (event.which == 38) {
                scroller.Prev();
            }
        });

    });
</script>

</body>
</html>