
<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <title>BMX Academy s Michalem Beranem, 2013</title>
    <link rel="icon" href="http://michaelsvarc.com/bmx/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/static/bmxacademy/css/screen.css" media="screen">
    <style type="text/css" media="handheld">

        * {
            margin:0 px;
            padding: 0 px;
        }

    </style>
        <style type="text/css">
        body
        {

            background: black url(http://webdev.fit.cvut.cz/~altmaon1/bmx/backgrounds/montage-1b.jpg) no-repeat fixed;
        }

        /*
        #background_wrap {
            z-index: -1;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-size: 100%;
            background-image: url("backgrounds/montage-0.jpg");
            background-attachment: fixed;
        }
        */
    </style>
</head>

<body>
<!-- BACKGROUND HACK
<div id="background_wrap"></div>
-->
<div class="wrapper">
    <div id="lista">
        <a href="http://www.youtube.com/bmxacademyCZ" class="icon_yt"></a>
        <a href="http://www.facebook.com/bmxacademy" class="icon_fcb"></a>
        <a href="index.php" class="icon_home"></a>
    </div>
    <!-- lista -->
</div>
<!-- wrapper -->

<div class="prostredek">

    <a href="#top" id="head"><span>BMX Academy s Michalem Beranem 11. - 18. SRPEN 2013</span></a>

</div>
<!-- prostredek -->


<div class="page">

    <div class="wrapper" id="top">

        <div id="menu">

            <ul>
                <li><a href="#about">O Campu</a></li>
                <img src="/static/static/bmxacademy/images/mnu_pomlcka.jpg" alt="menu_pomlcka" class="pomlcka">
                <li><a href="#news">Novinky</a></li>
                <img src="/static/static/bmxacademy/images/mnu_pomlcka.jpg" alt="menu_pomlcka" class="pomlcka">
                <li><a href="#gallery">Fotogalerie</a></li>
                <img src="/static/static/bmxacademy/images/mnu_pomlcka.jpg" alt="menu_pomlcka" class="pomlcka">
                <li><a href="#video">Videogalerie</a></li>
                <img src="/static/static/bmxacademy/images/mnu_pomlcka.jpg" alt="menu_pomlcka" class="pomlcka">
                <li><a href="#partners">Partneři</a></li>
                <img src="/static/static/bmxacademy/images/mnu_pomlcka.jpg" alt="menu_pomlcka" class="pomlcka">
                <li><a href="#contact">Kontakt</a></li>
                <img src="/static/static/bmxacademy/images/mnu_pomlcka.jpg" alt="menu_pomlcka" class="pomlcka">
                <li><a href="#register">Registrace</a></li>

            </ul>

        </div>
        <!-- menu -->
        <h3>Skatepark Chomutov</h3>

        <h1> 11. - 17. SRPEN,2013</h1>


    </div>
    <!-- wrapper -->

</div>
<!-- page -->

<p class="kopy">Copyright © 2012-2013 – BMX Academy</p>

<div class="downer">
    <a href="#next" class="down"><span>down</span></a>
</div>

<div class="page_downer">

    <div class="wrapper" id="about">

        <ul>
            <li>BMX Academy - 2.ročník největší letní školy BMX v Čechách a na Slovensku pro
                začátečníky, středně i více pokročilé jezdce BMX bez omezení věku a pohlaví.
            </li>
            <li>BMX Academy podporuje sportovní růst a nadšení příznivců BMX, rozvíjí sportovní
                výkonnost jezdců a propaguje Fair Play sportovní chování.
            </li>
            <li>BMX Academy - vyučují naši nejzkušenější přední jezdci s letitou zkušeností a
                mnoha úspěchy na domácí i zahraniční scéně BMX.
            </li>
            <li>BMX Academy - připravila pro všechny své jezdce značkovou kšiltovku a triko Fallen
                v hodnotě 1.500 CZK, značkové ceny do interních závodů BMX Academy Cap, foto
                a video reportáž z campu.
            </li>
            <li>BMX Academy - je týden plný BMX, adrenalinu, sportu, dobré nálady a
                nezapomenutelných zážitků.
            </li>
        </ul>

        <h2>Skatepark</h2>

        <p>Oficiálním parkem pro ročník 2013 se stal skatepark Chomutov, jeden z nejlepších skateparků
            v ČR, který je svou koncepcí vhodný jak pro začátečníky, tak pro pokročilé jezdce.
            Svou rozlohou 4.000 m se řadí mezi největší skatepark v ČR.
            Park disponuje kombinací dřevěných, betonových a plechových překážek.
            Celý oplocený areál zůstal v původním malebném dolíku obklopeném vzrostlým
            lesem a areál tak splňuje nejen sportovní, ale i rekreační účel.
            V parku se nachází množství překážek ve třech úrovních. Horní zastřešená a
            osvětlená část obsahuje dřevěný bazén - bowl obřích rozměrů (patří mezi největší
            v Evropě), v prostřední je betonový street a spodní část obsahuje klasické překážky.
            V parku je dále k dispozici klubovna a sociální zázemí.
            Mapa + adresa skateparku
        </p>

        <h2>Ubytování:</h2>
        Bude pro jezdce BMX Academy zajištěno na dvou a třílůžkových pokojích s vlastním
        sociálním zařízením Domova mládeže, Palackého 5 v klidné a bezpečné části města
        Chomutova, v dosahu autobusového a vlakového nádraží.
        Areál bude sloužit výhradně pro jezdce BMX Academy.
        Na využití volnočasových aktivit je v DM klubovna s TV, herna stolního
        tenisu, k využití je rovněž tělocvična a posilovna na sousední SZŠ Chomutov.
        Venkovní prostory nabízí prostorný dvůr s přenosným basketbalovým košem.
        mapa + adresa

        <h2>Stravování:</h2>
        Zajištěno formou plné penze, pitný režim v průběhu celého dne.

        8.45 - snídaně formou bufetu
        13.00 - oběd (polévka, hlavní jídlo)
        16.00 - svačina
        19.00 - večeře (hlavní jídlo, salát, nebo dezert)

        Stravování začíná v den příjezdu večeří a končí v den odjezdu snídaní. Uvedena
        doba stravování je pouze orientační. Změna stravování vyhrazena dle aktuálního
        programu. Některé ze stravování může být nahrazeno grilováním ve skateparku.

        <h2>Cena campu:</h2>
        Za stejnou cenu jako loni bude camp o jeden den delší, nebo za super cenu 6 denní
        varianta campu.
        8 dní od soboty do soboty 10. - 17. srpna 2013: 6.900 CZK
        6 dní od pondělí do soboty 12. - 17. srpna 2013: 5.900 CZK
        Pokyny pro platbu rezervační zálohy a doplatku za camp Vám budou zaslány po
        úspěšné registraci.

        <h2>Příjezd - odjezd:</h2>
        Příjezd 8 denní varianta sobota dne 10. srpna 2013 v době od 14.00 do 16.00 hodin
        Příjezd 6 denní varianta pondělí dne 12. srpna 2013 v době od 14.00 do 16.00 hodin
        Odjezd 17. srpna 2013 v době od 11.00 do 13.00 hodin
        Příjezd a odjezd se koná ze skateparku Chomutov - Kamenný Vrch.
        Parkovat lze přímo u vchodu do skateparku.

        <h2>Doprava:</h2>
        Možnost využití dopravy BMX Academy z Bratislavy, Brna, Jihlavy, Prahy a Plzně a
        do skateparku Chomutov a zpět.

        <h2> Rámcový program: </h2>
        8.00 - budíček
        8.00 - 8.30 osobní hygiena
        8.45 - snídaně
        9.15 - transfer skatepark
        9.30 - společná rozcvička
        9.45 - dopolední skupinový program
        13.00 - oběd
        13.30 - 14.15 osobní volno ve skateparku
        14.15 - odpolední skupinový program
        16.00 - svačina
        16.15 - společný program
        18.00 - 19.00 volné ježdění ve skateparku
        19.00 - večeře
        19.30 – transver ubytování
        20.15 - 21.30 večerní program
        21.30 - 22.00 osobní hygiena
        22.00 – večerka

        <h2>Instruktoři BMX Academy 2013:</h2>
        Tomáš Řanda
        Ondřej Hudec
        Tomáš Lízal


        <div class="cistic"></div>


    </div>
    <!-- wrapper -->

</div>
<!-- page -->

<div class="page_downer">

    <div class="wrapper" id="news">


        <p class="poctar">1/5</p>

        <div class="novinka">
            <a href="index.php" class="sipka_new_left"></a>

            <div class="new">
                <p><img src="/static/static/bmxacademy/images/photo_new.jpg" class="photo_new left" alt="prvni"></p>

                <p class="nadpis_new">Nadpis tady bude k horké novince, klidně na dva řádky. I klidně delší nadpis,
                    žádnej spěch.</p>

                <p class="popis_new">Jednou z nejpopulárnějších hudebních služebna internetu je Grooveshark. Obrovskou
                    databázi hudebního serveru tvoří sami uživatelé. Vítr skoro nefouká a tak by se na první pohled
                    mohlo zdát, že se balónky snad vůbec nepohybují. Jenom tak klidně levitují ve vzduchu. Jelikož
                    slunce jasně září a na obloze byste od východu k západu hledali mráček marně, balónky působí jako
                    jakási fata morgána uprostřed pouště. Zkrátka široko daleko nikde nic, jen zelenkavá tráva, jasně
                    modrá obloha a tři křiklavě barevné pouťové balónky, které se téměř nepozorovatelně pohupují ani ne
                    moc vysoko, ani moc nízko nad zemí. Kdyby pod balónky nebyla sytě zelenkavá tráva, ale třeba suchá
                    silnice či beton, možná by bylo vidět jejich barevné stíny - to jak přes poloprůsvitné barevné
                    balónky prochází ostré sluneční paprsky.</p>
            </div>
            <!-- new -->
            <a href="index.php" class="sipka_new_right"></a>

        </div>
        <!-- novinka-->


    </div>
    <!-- wrapper -->

</div>
<!-- page -->

<div class="page_downer">

    <div class="wrapper" id="gallery">


        <div id="fotogalerie">
            <a href="index.php"><img src="/static/static/bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="index.php"><img src="/static/static/bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="index.php"><img src="/static/static/bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="index.php"><img src="/static/static/bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="index.php"><img src="/static/static/bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="index.php"><img src="/static/static/bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="index.php"><img src="/static/static/bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="index.php"><img src="/static/static/bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="index.php"><img src="/static/static/bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="index.php"><img src="/static/static/bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="index.php"><img src="/static/static/bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>
            <a href="index.php"><img src="/static/static/bmxacademy/images/photo_foto.jpg" alt="fotka" class="photo"></a>

            <div class="prepinani left"><span><a href="index.php">Předchozí</a></span><img src="/static/static/bmxacademy/images/mnu_pomlcka.jpg"
                                                                                           alt="pomlcka"
                                                                                           class="pomlcka_prepinani"><span><a
                        href="index.php">Další</a></span></div>
            <!-- prepinani -->

            <div class="prepinani right"><span><a href="index.php">2012</a></span><img src="/static/static/bmxacademy/images/oddelovnik.png"
                                                                                       alt="pomlcka"
                                                                                       class="oddelovnik"><span
                    class="active"><a href="index.php">2013</a></span></div>
            <!-- prepinani -->

        </div>
        <!-- fotogalerie -->
    </div>
    <!-- wrapper -->

</div>
<!-- page -->

<div class="page_downer">

    <div class="wrapper" id="video">




        <a href="index.php" class="sipka_new_left"></a>


        <div id="videogalerie">
            <p class="poctar doleva"><span class="active">1</span>/5</p>

            <p><br></p>

            <p><br></p>

            <p><br></p>

            <div id="video_panel">
                <a href="index.php"><img src="/static/static/bmxacademy/images/video.jpg" alt="video" width="290px" class="video"></a>
                <a href="index.php"><img src="/static/static/bmxacademy/images/video.jpg" alt="video" width="290px" class="video"></a>
                <a href="index.php"><img src="/static/static/bmxacademy/images/video.jpg" alt="video" width="290px" class="video"></a>
            </div>
            <!-- video_panel -->

        </div>
        <!-- videogalerie -->

        <a href="index.php" class="sipka_new_right"></a>


    </div>
    <!-- wrapper -->

</div>
<!-- page -->

<div class="page_downer">

    <div class="wrapper" id="partners">


        <a href="index.php"><img src="/static/static/bmxacademy/images/fallen_black.jpg" alt="fallen_logo" class="gen_partner"></a>

        <a href="index.php"><img src="/static/static/bmxacademy/images/koloseum.jpg" alt="fallen_logo" class="partner"></a>

    </div>
    <!-- wrapper -->

</div>
<!-- page -->

<div class="page_downer">

    <div class="wrapper" id="contact">



        <form class="form">
            <div class="polozky left">
                <p>*<input type="text" value="Jméno" class="pole"></p>

                <p>*<input type="text" value="E-mail" class="pole"></p>

                <p>&nbsp;&nbsp;<input type="text" value="Tel. číslo" class="pole"></p>

                <p>&nbsp;&nbsp;<input type="text" value="Předmět dotazu" class="pole"></p>

                <p>* povinný údaj</p>
            </div>
            <!-- lefter -->
            <div class="left">
                <p style="margin-left: 12px;">*</p><textarea class="textarea">Ahoj BMX Academy, </textarea>

                <p><input type="submit" value="Odeslat" class="tlacitko right"></p>
            </div>
            <!-- lefter -->
        </form>

        <div class="poradatel left">
            <h2>Pořadatel BMX Academy</h2>

            <p>Telefon: +420 608 844 878</p>

            <p>E-mail: info@bmxacademy.cz</p>

            <p>facebook: <a href="http://www.facebook.com/bmxacademy">BMX Academy</a></p>

            <p>YouTube: <a href="http://www.youtube.com/bmxacademyCZ">BMX Academy</a></p>
            <br>


        </div>
        <!-- lefter -->


    </div>
    <!-- wrapper -->

</div>
<!-- page -->

<div class="page_downer">

    <div class="wrapper" id="register">

        <!-- menu -->

        <form class="form">
            <div class="polozky left">
                <p><input type="text" value="Jméno" class="pole"></p>

                <p><input type="text" value="Příjmení" class="pole"></p>

                <p><input type="text" value="Rodné číslo" class="pole"></p>

                <p><input type="text" value="Adresa" class="pole"></p>

                <p><input type="text" value="Tel. číslo" class="pole"></p>

                <p>&nbsp;&nbsp;Všechny údaje jsou povinné.</p>
            </div>
            <!-- lefter -->

            <div class="druha left">
                <p><input type="text" value="Datum narození" class="pole"></p>

                <p><select class="selecter">
                        <option value="" selected="selected">Velikost trika</option>
                        <option value="">XS</option>
                        <option value="">S</option>
                        <option value="">M</option>
                        <option value="">L</option>
                        <option value="">XL</option>
                    </select>

                <p><select class="selecter">
                        <option value="" selected="selected">Velikost čepice</option>
                        <option value="">67/8</option>
                        <option value="">7</option>
                        <option value="">7 3/4</option>
                        <option value="">7 3/8</option>
                        <option value="">71/2</option>
                        <option value="">71/4</option>
                        <option value="">73/4</option>
                        <option value="">73/8</option>
                        <option value="">75/8</option>
                        <option value="">8</option>
                    </select>

                <p><select class="selecter">
                        <option value="" selected="selected">Varianta campu</option>
                        <option value="">8. denní - 6 900 CZK</option>
                        <option value="">6. denní - 5 900 CZK</option>

                    </select>


                <p>&nbsp;&nbsp;<input type="checkbox"> Souhlasím s <a href="index.php">pravidly akce</a>.</p>

                <p><input type="submit" value="Registrovat" class="tlacitko right tlacitko_reg"></p>

                <div style="clear:both;"></div>

            </div>


            <!-- lefter -->
        </form>

    </div>
    <!-- wrapper -->

</div>
<!-- page -->
<div id="dummy"></div>

<script type="text/javascript" src="/static/static/bmxacademy/scripts/jquery.js"></script>
<script type="text/javascript" src="/static/static/bmxacademy/scripts/wheel.js"></script>
<script type="text/javascript" src="/static/static/bmxacademy/scripts/disable.js"></script>
<script type="text/javascript" src="/static/static/bmxacademy/scripts/bundle.js"></script>
<script type="text/javascript" src="/static/static/bmxacademy/scripts/scroller.js"></script>
<script type="text/javascript" src="/static/static/bmxacademy/scripts/other.js"></script>
<script type="text/javascript">
    $(document).ready(function () {


        var scroll = true;

        var callbackScroll = $.Callbacks();
        callbackScroll.add( scrollManip )

        function scrollManip() {
            scroll = false;
            setTimeout(function() {
                scroll = true;
            }, 800);
        }

        var scroller = new $.Scroller(
            [
                new $.Bundle("div#top","a[href='#top']"),
                new $.Bundle("div#about","a[href='#about']"),
                new $.Bundle("div#news","a[href='#news']"),
                new $.Bundle("div#gallery","a[href='#gallery']"),
                new $.Bundle("div#video","a[href='#video']"),
                new $.Bundle("div#partners","a[href='#partners']"),
                new $.Bundle("div#contact","a[href='#contact']"),
                new $.Bundle("div#register","a[href='#register']")
            ]
        );


        $("a[href='#next']").click(function (){
            scroller.Next();
            return false;
        });


        scroller.setUp();

        disable_scroll();

        $(document).mousewheel(function(event, delta) {
                if(delta == -1) if(scroll) {
                    callbackScroll.fire();
                    scroller.Next();
                }
                if(delta == 1) if(scroll) {
                    callbackScroll.fire();
                    scroller.Prev();
                }
        });


        $(document).keydown(function (event) {
            if (event.which == 40) {
                scroller.Next();
            }
            if (event.which == 38) {
                scroller.Prev();
            }
        });

    });
</script>

</body>
</html>