<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <title>BMX Academy s Michalem Beranem, 2013</title>
    <link rel="icon" href="http://michaelsvarc.com/bmx/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{STATIC_URL}}bmxacademy/css/screen.css" media="screen"/>
    <link rel="stylesheet" href="{{STATIC_URL}}bmxacademy/css/slide.css"/>
</head>
<body>
<!-- BACKGROUND HACK
<div id="background_wrap"></div>
-->
<div class="wrapper">
    <div id="lista">
        <a href="http://www.youtube.com/bmxacademyCZ" class="icon_yt"></a>
        <a href="http://www.facebook.com/bmxacademy" class="icon_fcb"></a>
        <a href="/" class="information"></a>
        <a href="#top" class="icon_home"></a>
    </div>
    <!-- lista -->
</div>
<!-- wrapper -->
<div class="prostredek">
    <a href="#top" id="head"><span>BMX Academy s Michalem Beranem 11. - 18. SRPEN 2013</span></a>
</div>
<!-- prostredek -->
<div class="page_downer">
    <div class="wrapper" id="top">
        {% include "bmxacademy/menu.html" %}
        <img src="{{STATIC_URL}}bmxacademy/images/skatepark.png" alt="Skatepark Hradec Králové" class="middle">
        <img src="{{STATIC_URL}}bmxacademy/images/napis.png" width="960px" alt="11. - 18. 2013" class="middle">
    </div>
    <!-- wrapper -->
</div>
<!-- page -->
<p class="kopy">Copyright &copy; 2012-2013 – BMX Academy</p>
<div class="downer">
    <a href="#next" class="down" id="position-button"><span>down</span></a>
</div>
<div class="page_downer">
    <div class="wrapper" id="about">
        {% include "bmxacademy/menu.html" %}
        {% include "bmxacademy/about.html" %}
        <div class="cistic"></div>
    </div>
    <!-- wrapper -->
</div>
<!-- page -->
<div class="page_downer">
    <div class="wrapper" id="news">
        {% include "bmxacademy/menu.html" %}
        <p class="poctar"><span class="page_count">1</span>/<span class="page_total">1</span></p>
        <div style="clear:both;"></div>
        <div id="one" class="contentslider">
            <div class="cs_wrapper">
                <div class="cs_slider">
                    {% include "bmxacademy/news.html" %}
                </div>
                <!-- End cs_slider -->
            </div>
            <!-- End cs_wrapper -->
        </div>
        <!-- End contentslider -->
    </div>
    <!-- wrapper -->
</div>
<!-- page -->
<div class="page_downer">
    <div class="wrapper" id="gallery">
        {% include "bmxacademy/menu.html" %}
        {% include "bmxacademy/gallery.html" %}
    </div>
    <!-- wrapper -->
</div>
<!-- page -->
<div class="page_downer">
    <div class="wrapper" id="video">
        {% include "bmxacademy/menu.html" %}
        {% include "bmxacademy/video.html" %}
    </div>
    <!-- wrapper -->
</div>
<!-- page -->
<div class="page_downer">
    <div class="wrapper" id="partners">
        {% include "bmxacademy/menu.html" %}
        {% include "bmxacademy/partners.html" %}
    </div>
    <!-- wrapper -->
</div>
<!-- page -->
<div class="page_downer">
    <div class="wrapper" id="contact">
        <a href="" id="_contact"></a>
        {% include "bmxacademy/menu.html" %}
        {% include "bmxacademy/contact.html" %}
        <!-- lefter -->
    </div>
    <!-- wrapper -->
    <div style="clear:both;"></div>
</div>
<!-- page -->
<div class="page_downer">
    <div class="wrapper" id="register">
        <a href="" id="_register"></a>
        {% include "bmxacademy/menu.html" %}
        {% include "bmxacademy/register.html" %}
        <!-- menu -->
    </div>
    <!-- wrapper -->
</div>
<!-- page -->
<div id="dummy"></div>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/jquery.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/jquery.ui.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/wheel.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/touchwipe.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/disable.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/bundle.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/scroller.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/bootstrap.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/jquery.ennui.contentslider.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/bootstrap-tabs.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/videoSlider.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}bmxacademy/scripts/other.js"></script>
<script type="text/javascript">

</script>
</body>
</html>