<div class="menu">

            <ul>
                <li><a href="#about">O Campu</a></li>
                <img src="{{STATIC_URL}}bmxacademy/images/mnu_pomlcka.jpg" alt="menu_pomlcka" class="pomlcka">
                <li><a href="#news">Novinky</a></li>
                <img src="{{STATIC_URL}}bmxacademy/images/mnu_pomlcka.jpg" alt="menu_pomlcka" class="pomlcka">
                <li><a href="#gallery">Fotogalerie</a></li>
                <img src="{{STATIC_URL}}bmxacademy/images/mnu_pomlcka.jpg" alt="menu_pomlcka" class="pomlcka">
                <li><a href="#video">Videogalerie</a></li>
                <img src="{{STATIC_URL}}bmxacademy/images/mnu_pomlcka.jpg" alt="menu_pomlcka" class="pomlcka">
                <li><a href="#partners">Partneři</a></li>
                <img src="{{STATIC_URL}}bmxacademy/images/mnu_pomlcka.jpg" alt="menu_pomlcka" class="pomlcka">
                <li><a href="#contact">Kontakt</a></li>
                <img src="{{STATIC_URL}}bmxacademy/images/mnu_pomlcka.jpg" alt="menu_pomlcka" class="pomlcka">
                <li><a href="#register">Registrace</a></li>

            </ul>

        </div>
        <!-- menu -->