
        <!-- menu -->

        <form class="form">
            <div class="polozky left">
                <p><input type="text" value="Jméno" class="pole"></p>

                <p><input type="text" value="Příjmení" class="pole"></p>

                <p><input type="text" value="Rodné číslo" class="pole"></p>

                <p><input type="text" value="Adresa" class="pole"></p>

                <p><input type="text" value="Tel. číslo" class="pole"></p>

                <p>&nbsp;&nbsp;Všechny údaje jsou povinné.</p>
            </div>
            <!-- lefter -->

            <div class="druha left">
                <p><input type="text" value="Datum narození" class="pole"></p>

                <p><select class="selecter">
                        <option value="" selected="selected">Velikost trika</option>
                        <option value="">XS</option>
                        <option value="">S</option>
                        <option value="">M</option>
                        <option value="">L</option>
                        <option value="">XL</option>
                    </select>

                <p><select class="selecter">
                        <option value="" selected="selected">Velikost čepice</option>
                        <option value="">67/8</option>
                        <option value="">7</option>
                        <option value="">7 3/4</option>
                        <option value="">7 3/8</option>
                        <option value="">71/2</option>
                        <option value="">71/4</option>
                        <option value="">73/4</option>
                        <option value="">73/8</option>
                        <option value="">75/8</option>
                        <option value="">8</option>
                    </select>

                <p><select class="selecter">
                        <option value="" selected="selected">Varianta campu</option>
                        <option value="">8. denní - 6 900 CZK</option>
                        <option value="">6. denní - 5 900 CZK</option>

                    </select>


                <p>&nbsp;&nbsp;<input type="checkbox"> Souhlasím s <a href="/">pravidly akce</a>.</p>

                <p><input type="submit" value="Registrovat" class="tlacitko right tlacitko_reg"></p>

                <div style="clear:both;"></div>

            </div>


            <!-- lefter -->
        </form>