<div id="three" class="contentslider">
            <div class="cs_wrapper">
                <div class="cs_slider">

                    <div class="cs_video">
                        <h4>
                            psum je demonstrativní výplňový text používaný v tiskařském a knihařském
                        </h4>

                        <div>
                            <a href="index.php"><img src="{{STATIC_URL}}bmxacademy/images/video.jpg" alt="video" width="290px" class="video"></a>
                        </div>
                    </div>

                    <div class="cs_video">
                        <h4>Lorem Ipsum je považováno</h4>

                        <div>
                            <a href="index.php"><img src="{{STATIC_URL}}bmxacademy/images/video.jpg" alt="video" width="290px" class="video"></a>
                        </div>
                    </div>

                    <div class="cs_video">
                        <h4>ástup elektronické sazby v podstatě beze změny. Nejvíce popularizováno</h4>

                        <div>
                            <a href="index.php"><img src="{{STATIC_URL}}bmxacademy/images/video.jpg" alt="video" width="290px" class="video"></a>
                        </div>
                    </div>

                    <div class="cs_video">
                        <h4>Popisek</h4>

                        <div>
                            <a href="index.php"><img src="{{STATIC_URL}}bmxacademy/images/video.jpg" alt="video" width="290px" class="video"></a>
                        </div>
                    </div>

                    <div class="cs_video">
                        <h4>Popisek</h4>

                        <div>
                            <a href="index.php"><img src="{{STATIC_URL}}bmxacademy/images/video.jpg" alt="video" width="290px" class="video"></a>
                        </div>
                    </div>

                    <div class="cs_video">
                        <h4>Popisek</h4>

                        <div>
                            <a href="index.php"><img src="{{STATIC_URL}}bmxacademy/images/video.jpg" alt="video" width="290px" class="video"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>