{% load cropping %}
<div id="three" class="contentslider">
            <div class="cs_wrapper">
                <div class="cs_slider">
                    {% for video in video_qs %}
                        <div class="cs_video">
                            <h4>
                                {{video.title}}
                            </h4>

                            <div>
                                
                                <a class="fancybox-media" href="{{video.youtube_url}}"><img src="{% cropped_thumbnail video img_crop height=321 upscale %}" alt="video" width="290px" class="video"></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>