



        <a href="/" class="sipka_new_left"></a>


        <div id="videogalerie">
            <p class="poctar doleva"><span class="active">1</span>/5</p>

            <p><br></p>

            <p><br></p>

            <p><br></p>

            <div id="video_panel">
                <a href="/"><img src="/static/static/bmxacademy/images/video.jpg" alt="video" width="290px" class="video"></a>
                <a href="/"><img src="/static/static/bmxacademy/images/video.jpg" alt="video" width="290px" class="video"></a>
                <a href="/"><img src="/static/static/bmxacademy/images/video.jpg" alt="video" width="290px" class="video"></a>
            </div>
            <!-- video_panel -->

        </div>
        <!-- videogalerie -->

        <a href="/" class="sipka_new_right"></a>