      
      <h3>Vlastní doprava</h3>
      <p class="polovina_big">
      Příjezd pro obě varianty campu - neděle 11. srpna 2013 v době od 14.00 do 16.00 hodin<br></p>
     
     <p class="polovina_big"> Odjezd 6. denní varianta 15. srpna 2013 v době od 11.00 do 13.00 hodin<br></p>
     <p class="polovina_big"> Odjezd 8. denní varianta 18. srpna 2013 v době od 11.00 do 13.00 hodin<br></p>
      
     <p class="polovina_big"> Příjezd a odjezd se koná ze skateparku Chomutov - Kamenný Vrch.</p>
      <br>Parkovat lze přímo u vchodu do skateparku. </p>
     
    
    
     <h3>Doprava BMX Academy</h3>
      <p class="polovina_big">
      
      BMX Academy nabízí možnost zprostředkované dopravy z Bratislavy, Brna, Jihlavy, Prahy a z Plzně do skateparku.</p> 
      
      <p class="polovina_big">8. denní varianta campu - možnost zajištění dopravy tam i zpět</p>
      <p class="polovina_big">6. denní varianta campu - možnost zajištění dopravy pouze tam </p>
   
      <p class="polovina_big">Rezervace dopravy v registračním formuláři.</p>
