<h2> Rámcový program</h2>
        <ul class="odrazky polovina">
       <li>8.00 - budíček </li>
       <li>8.00 - 8.30 osobní hygiena</li>
       <li>8.30 - snídaně</li>

       <li>9.30 - společná rozcvička</li>
       <li>9.45 - dopolední skupinový program</li>
       
       <li>12.30 - oběd</li>
    
      <li> 13.30 - 14.30 osobní volno</li>
      
         </ul>
        <ul class="odrazky polovina">
        <li> 14.30 - odpolední skupinový program</li>
      
      <li> 16.30 - společný program</li>
      <li> 18.00 - 19.00 volné ježdění ve skateparku</li>
     <li>  19.00 - večeře</li>

     <li>  20.15 - 21.30 večerní program</li>
     <li>  21.30 - 22.00 osobní hygiena</li>
      <li> 22.00 - večerka</li>
      </ul>
