    <h2>Stravování</h2>
    <p>Starvování bude zajištěno formou plné penze, pitný režim v průběhu celého dne.</p>
     <ul class="polovina_big odrazky">
    <li>8.30 - snídaně</li>
    <li>12.30 - oběd</li>
    <li>16.00 - svačina</li>
    <li>19.00 - večeře</li>
      </ul>
      <p>Stravování bude probíhat ve školní jídelně Domova mládeže – Palackého 5, Chomutov.</p>
      <p>Stravování začíná v den příjezdu večeří a končí v den odjezdu snídaní. Uvedena
      doba stravování je pouze orientační.<br> Změna stravování vyhrazena dle aktuálního
      programu. Některé ze stravování může být nahrazeno grilováním ve skateparku.</p>
