 <h2>Ubytování</h2>
    <p class="polovina_big">Bude pro jezdce BMX Academy zajištěno na dvou a třílůžkových pokojích s vlastním
    sociálním zařízením Domova mládeže, v klidné a bezpečné části města
    Chomutova, v dosahu autobusového a vlakového nádraží.
    Areál bude sloužit výhradně pro jezdce BMX Academy.
    Na využití volnočasových aktivit je v DM klubovna s TV, herna stolního
    tenisu.
    Venkovní prostory nabízí prostorný dvůr s přenosným basketbalovým košem.
   </p>
    
     <p class="odkaz">Domov mládeže – Palackého 5, Chomutov <a href="https://maps.google.com/maps?q=Palack%C3%A9ho+5+Chomutov&hl=cs&ie=UTF8&ll=50.458091,13.421731&spn=0.011844,0.031435&sll=50.486593,13.429992&sspn=0.011837,0.031435&hnear=Palack%C3%A9ho+239%2F5,+430+01+Chomutov,+%C4%8Cesk%C3%A1+republika&t=m&z=16" target="_blank">zobrazit na mapě</a></p>
